{% extends 'base.html' %}
{% block title %}{{ article.title}}{% endblock %}
{% block menu %}
    <li><a href="{% url 'article_update' article.pk %}">Edit</a></li>
    <li><a href="{% url 'article_delete' article.pk %}">Delete</a></li>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ article.title }}</h1>
        <p>Category: {{ article.get_category_display }}</p>
        <p>Created by {{ article.author }} at {{ article.created_at|date:'Y-m-d H:i:s' }}</p>
        <div class="pre">{{ article.text }}</div>
    </div>
{% endblock %}
